* {
    margin: 0;
    padding: 0;
}

/* first section start */
.first-section{
    background-color: blue;
    height: 100vh;
    width: 100%;
}
.main-cntr {
    /* background-color: yellow; */
    background-image: url("./img/billboard.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;

}
.f1-item {
    background-color:white;
    height: 40px;
    padding: 10px ;
    align-items: center;
    opacity: 0.8;
}

/* nav bar  */
.nav-img {
    /* background-color: blue; */
    display: grid ;
    grid-template-columns: auto;
    text-align: center;
    padding: 10px 0px 20px 0px;
}
.nav-img img {
    height: 40px;
    /* background-color: #fff; */
    padding-top: 5px;
}
.navbar {
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    height: 40px;
    align-items: center;

}
.nav-ul-list {
    display: flex;
    gap: 20px;
    
}

.nav-li {
    list-style: none;
    /* background-color: red; */
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.nav-li a {
    text-decoration: none;
    color: black;
}
.nav-li a:hover {
    cursor: pointer;
    background-color: black;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    opacity: unset;
    gap: 10px;
}
/* navbar end */
.f2-item {
    margin-top: 479px;
    display: flex;
    justify-content: space-between;
   
}
.f2-btn {
    text-transform: uppercase;
    background-color: blue;
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.f2-btn a {
    text-decoration: none;
    color: white;
}
/* first section end*/


/* second section  start*/
.second-section {
    /* background-color: yellow; */
    padding: 0px 200px 0px 200px;
    /* height: ; */
}
.backgound-color {
    background-color: whitesmoke;
    padding: 0px 30px;
}
.heading-pra {
    text-align: center;
    /* background-color: red; */
    padding-bottom: 100px;
    padding: 40px 0px 0px 0px;

}
.line-img {
    width: 596px;
}
.first-span {   
    position: absolute;  
    border: 2px solid blue;
    height: 40px;
    position: absolute;
    display: flex;
}

.first-grid-cntr {
    /* background-color:blue; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px ;

}
.grid-item {
    border: 2px solid whitesmoke;
    /* padding: 20px 51px; */
    padding: 49px 30px;
    background-color: whitesmoke;
    text-align: center;

}
/* second section  end*/

/* Third section  start*/
.third-section {
    background-color: green;
    height: 250px;
}
.display-flex-img {
    /* background-color: red; */
    height: 250px;
    /* border: 2px solid black; */
    display: flex;
}
.flex-img-cntr {
    /* border: 2px solid blue; */
    height: 250px;
    width: 270px;
}
.flex-img-cntr img {
    width: 270px;
    height: 250px;
    object-fit: cover;
}
/* Third section end */

/* fourth section Start */
.four-sect-h2-tag {
    text-transform: uppercase;
}
.client-img {
    border-radius: 50%;
}
.display-span {
    display: flex;
}
.h3-pdbottom {
    padding-bottom: 30px;
}
.name-client {
    padding-bottom: 20px;
}
/* fourth section  end*/

/* fifthe section start */
.fifth-section {
/* background-color: blue; */
height: 500px;
}
.brand-patti {
    display: flex;
    gap: 87px;
    padding: 15px 200px;
    background-color: whitesmoke;
    opacity: 0.6;
}
.footer-cntr {
    background-color: black;
    height: 300px;
    padding: 0px 200px 80px 200px;
}
.f3-sec-5 {
    margin-top: 0px;
}
.footer-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: white;
    grid-gap: 20px;
}
.f-grid-item {
    /* border: 2px solid white; */
    padding: 49px 30px;
    /* background-color: whitesmoke; */
    text-align: center;

}
.specific-heading {
    text-align: left;
    text-transform: capitalize;
    padding-bottom: 30px;
}
 /* .specific-heading:hover {
    background-color: #fff;
    color: black;
    padding: 5px 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center; 
} */
.f-para {
    text-transform: capitalize;
    text-align: left;
}
.social-link {
    padding-top: 10px;
    display: flex;
    gap: 10px;

}
.link-cntr {
    background-color: #fff;
    padding: 5px 5px;
    border-radius: 10px;

}
.link-cntr a {
    color: black;
    cursor: pointer;
}
.github:hover {
    color: red;
    
}
.linkedin:hover {
    color: blue;
}
.instagram:hover {
    color: red;
}
.twitter:hover {
    color: blue;

}
.facebook:hover {
    color: blue;
}
.thread:hover {
    color: red;
}

.link-cntr a i {
    font-size: 30px;
    width: 30px;
    height: 20px;
    text-align: center;

}
.all-right-cntr {
    background-color: black;
    text-align: center;
    padding: 20px 0px;
}
.all-right-cntr p {
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}
/* fifthe section end */
@media only screen and (max-width:1000px) {
    .first-grid-cntr {
        grid-template-columns: auto;
       
    }
    .footer-grid {
        grid-template-columns: auto ;
        
    }
    .footer-cntr {
        height: 100vh;
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .f-grid-item {
        padding: 0px;
        grid-gap: 5px;
    }
    .line-img {
        display: none;
    }
    .get-touch-line {
        display: none;
    }
    .third-section {
        display: none;
    }
    
}
@media only screen and (max-width:480px) {
    .second-section {
        padding: 0px 20px 0px 20px;
    }
}